<div style="background-color: #D8D8D8; width: 100%"><script>
	var contextPath = "${pageContext.request.contextPath}";
</script>
<%@ page import="java.util.Date" %>
<%@ page import="java.text.SimpleDateFormat" %>
<%
SimpleDateFormat formaHora = new SimpleDateFormat("yyyyMMddHHmmss");
%>  
<script src="/EnlaceMig/jquery-1.11.2.min.js"></script> <script
	src="/EnlaceMig/json3.min.js" type="text/javascript"></script> <script
	src="/EnlaceMig/consultaCuentas.js?<%=formaHora.format(new Date())%>"></script>

<table width="100%" cellspacing="5" cellpadding="5%"
	class="textabdatcla">
	<tr>
		<td colspan="5"><b>B&uacute;squeda:</b></td>
	</tr>

	<tr>
		<td>
		<table width="100%" cellspacing="5" cellpadding="5%">
			<tr>
				<td style="text-align: right;" width="20%" class="tabmovtexbol">Cuenta:</td>
				<td width="60%"><input type="text" style="width: 100%;"
					class="numeroCuenta" id="numeroCuenta0" name="numeroCuenta0"
					onblur="validaSoloNumeros(this,'Cuenta');"></td>
			</tr>
			<tr>
				<td style="text-align: right;" width="20%" class="tabmovtexbol">Descripci&oacute;n
				cuenta:</td>
				<td width="60%"><input type="text" style="width: 100%;"
					class="descripcionCuenta" id="descripcionCuenta0"
					name="descripcionCuenta0"
					onblur="validaEspeciales(this,'Descripci&oacute;n cuenta');"></td>
			</tr>
		</table>
		</td>
		<td colspan="2" align="center" width="40%"><a
			href="javascript:consultaCuentas(0,2,1);"><img
			src="/gifs/EnlaceMig/Ir.png" width="90" height="22" border="0"
			alt="Consultar"></a></td>
	</tr>


</table>
</div>