<div style="background-color: #D8D8D8; width: 50%"> 
<script type="text/javascript">
	var contextPath = "${pageContext.request.contextPath}";
</script>
<%@ page import="java.util.Date" %>
<%@ page import="java.text.SimpleDateFormat" %>
<%
SimpleDateFormat formaHora = new SimpleDateFormat("yyyyMMddHHmmss");
%> 
<script type="text/javascript" src="${pageContext.request.contextPath}/js/jquery-1.11.2.min.js"></script>
<script src="/EnlaceMig/json3.min.js" type="text/javascript"></script>
<script type="text/javascript" src="${pageContext.request.contextPath}/js/consultaCuentas.js?<%=formaHora.format(new Date())%>"></script>
<table width="100%" cellspacing = "5" cellpadding = "5%">
	<tr>
		<td colspan="4"><b>B&uacute;squeda cuentas:</b></td>
	</tr>
	<tr>
		<td style="text-align: right;" width="30%">Cuenta:</td>
		<td width="40%"><input type="text" id="numeroCuenta" name="numeroCuenta" style="width: 100%;"/></td>
		<td rowspan="2" align="center" width="20%">
			<input type="radio" name="comboSeleccionado" value="0"/>Cuenta Origen<br/>
			<input type="radio" name="comboSeleccionado" value="1"/>Cuenta Destino<br/>
		</td>
		<td rowspan="2" align="center" width="30%">
			<a href="javascript:consultaCuentas();"><img src="/gifs/EnlaceMig/gbo25220.gif"  width="90" height="22" alt="Consultar"/></a>
		</td>
	</tr>
	<tr>
		<td style="text-align: right;" width="30%">Descripci&oacute;n cuenta:</td>
		<td width="40%"><input type="text" id="descripcionCuenta" name="descripcionCuenta" style="width: 100%;"/></td>
	</tr>
</table>
</div>