<div style="background-color: #D8D8D8; width: 100%"><script type="text/javascript">
	var contextPath = "${pageContext.request.contextPath}";
</script>
<%@ page import="java.util.Date" %>
<%@ page import="java.text.SimpleDateFormat" %>
<%
SimpleDateFormat formaHora = new SimpleDateFormat("yyyyMMddHHmmss");
%>
<script type="text/javascript" src="/EnlaceMig/jquery-1.11.2.min.js"></script>
<script src="/EnlaceMig/json3.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/EnlaceMig/consultaCuentas.js?<%=formaHora.format(new Date())%>"></script>
<script type="text/javascript" src="/EnlaceMig/filtroConsultaCuentasTarjetaPago.js"></script>
<table width="100%" cellspacing="5" cellpadding="5%"
	class="textabdatcla">

	<tr>
		<td colspan="4"><b>B&uacute;squeda cuentas:</b></td>
	</tr>
	<tr>
		<td style="text-align: right;" width="30%" class="tabmovtexbol">Tarjeta
		cargo:</td>
		<td width="20%"><input type="text" style="width: 100%;"
			id="numeroCuenta0" name="numeroCuenta0" class="numeroCuenta" /></td>

		<td style="text-align: right;" width="30%" class="tabmovtexbol">
		Cuenta de Abono:</td>
		<td width="20%"><input type="text" style="width: 100%;"
			class="numeroCuenta" id="numeroCuenta1" name="numeroCuenta1" /></td>
	</tr>
	<tr>
		<td style="text-align: right;" width="30%" class="tabmovtexbol">Descripci&oacute;n
		tarjeta:</td>
		<td width="20%"><input type="text" style="width: 100%;"
			class="descripcionCuenta" id="descripcionCuenta0"
			name="descripcionCuenta0" /></td>

		<td style="text-align: right;" width="30%" class="tabmovtexbol">Descripci&oacute;n
		cuenta:</td>
		<td width="20%"><input type="text" style="width: 100%;"
			class="descripcionCuenta" id="descripcionCuenta1"
			name="descripcionCuenta1" /></td>
	</tr>
	<tr>
		<td colspan="2" align="center" width="40%"><a
			href="javascript:consultaTarjetaDisp();"><img
			src="/gifs/EnlaceMig/Ir.png" width="90" height="22" style=" border: 0;"
			alt="Consultar"/></a></td>
		<td>&nbsp;</td>
		<td colspan="2" align="center" width="40%"><a
			href="javascript:consultaCuentasTarjetaAbono();"><img
			src="/gifs/EnlaceMig/Ir.png" width="90" height="22" style=" border:0;"
			alt="Consultar"/></a></td>
	</tr>
</table>

<div style="display: none"> </div>
</div>