<div style="width: 100%">
<table>
<tr>
<td align="right" colspan="2" width="260px"> 
	<select id="" style="width: 260px;" class="comboCuenta" disabled>
		<option value="">Seleccione una cuenta...</option>
	</select>
</td>
</tr>
</table>
</div>